body {
  font-family: "Inter", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.map_image {
  width: 70%;
  height: 70%;
}

.navbar_title {
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar_title:hover,
.navbar_link:hover {
  transform: scale(1.05);
}

.navbar_link {
  transition: color 0.2s ease, transform 0.2s ease;
}

.homepage_link {
  text-decoration: none;
}

.homepage_link:hover {
  text-decoration: underline;
}

.homepage_card {
  max-width: 50%;
  margin: auto;
}

#edit_user_details_btn:hover {
  background-color: #ff4e00;
}

#submit_btn:hover {
  background-color: #1a2e44;
}

.alert {
  max-width: 600px;
  margin: 0 auto 15px auto; 
  text-align: center;
}
