:root {
  --bs-custom-primary: #FF6500; /* Orange */
  --bs-custom-secondary: #1E3E62; /* Dark Blue */
  --bs-custom-accent: #0B192C; /* Very Dark Blue */
  --bs-custom-neutral: #000000; /* Black */
}

.bg-custom-primary {
  background-color: var(--bs-custom-primary);
}

.text-custom-primary {
  color: var(--bs-custom-primary);
}

.bg-custom-secondary {
  background-color: var(--bs-custom-secondary);
}

.text-custom-secondary {
  color: var(--bs-custom-secondary);
}

.bg-custom-accent {
  background-color: var(--bs-custom-accent);
}

.text-custom-accent {
  color: var(--bs-custom-accent);
}

.bg-custom-neutral {
  background-color: var(--bs-custom-neutral);
}

.text-custom-neutral {
  color: var(--bs-custom-neutral);
}
