{% extends "base.html" %}
{% block head_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/saved_courts.css') }}">
<script type="module" src="{{url_for('static', filename='js/saved_courts.js')}}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title %}{{user.username}}'s Saved Courts{% endblock %}

{% block content %}
  <h1 class="text-center my-4">{{ user.username }}'s Saved Courts</h1>
  <div class="row">
    {% for court in courts %}
      <div class="col-md-6 col-lg-4 mb-4 court-container text-center" data-court-id="{{court.id}}">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ court.court_name }}</h5>
            <p class="card-text">{{ court.address }}</p>
            <div class="court-rating">
              <p class="card-text"><strong>Rating:</strong></p>
              {% for x in range(1,6) %}
              {% if court.user_rating and court.user_rating >= x %}
              <i class="court-rating-icon fa-solid fa-star" data-star-value="{{x}}"></i>
              {% else %}
              <i class="court-rating-icon fa-regular fa-star" data-star-value="{{x}}"></i>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="card-footer bg-transparent border-top-0">
            <a href="{{ court.google_maps_url }}" target="_blank" class="btn bg-custom-primary text-light fw-bold px-3 py-2 mx-2">View on Google Maps</a>
            <button type="button" class="btn btn-danger text-light fw-bold px-3 py-2 remove-court-btn mx-2"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}