{% extends "base.html" %}
{% block head_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/saved_courts.css') }}">
<script type="module" src="{{url_for('static', filename='js/saved_courts.js')}}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title %}{{user.username}}'s Saved Courts{% endblock %}

{% block content %}
  <h1 class="text-center my-4 text-custom-primary saved-courts-header">{{ user.username }}'s Saved Courts</h1>
  {% if courts.items|length > 0 %}
    <div class="row">
      {% for court in courts %}
        <div class="col-md-6 col-lg-4 mb-4 court-container text-center" data-court-id="{{court.id}}">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ court.court_name }}</h5>
              <p class="card-text">{{ court.address }}</p>
              <div class="court-rating">
                <p class="card-text"><strong>Rating:</strong></p>
                {% for x in range(1,6) %}
                  {% if court.user_rating and court.user_rating >= x %}
                    <i class="court-rating-icon fa-solid fa-star" data-star-value="{{x}}"></i>
                  {% else %}
                    <i class="court-rating-icon fa-regular fa-star" data-star-value="{{x}}"></i>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="card-footer bg-transparent border-top-0">
              <a href="{{ court.google_maps_url }}" target="_blank" class="btn bg-custom-primary text-light fw-bold px-3 py-2 mx-2">View on Google Maps</a>
              <button type="button" class="btn btn-danger text-light fw-bold px-3 py-2 remove-court-btn mx-2"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="text-center mb-4">
      <a href="/search" class="btn bg-custom-primary text-light fw-bold px-4">Add More Courts</a>
    </div>

    <nav aria-label="Court Pagination">
      <ul class="pagination justify-content-center">
        {% if courts.has_prev %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('view_saved_courts', username=user.username, page=courts.prev_num) }}" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </span>
        </li>
        {% endif %}

        {% for p in range(1, courts.pages + 1) %}
          {% if p == courts.page %}
            <li class="page-item active"><span class="page-link">{{ p }}</span></li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('view_saved_courts', username=user.username, page=p) }}">{{ p }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if courts.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('view_saved_courts', username=user.username, page=courts.next_num) }}" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </span>
        </li>
        {% endif %}
      </ul>
    </nav>

  {% else %}
  <div class="text-center my-5">
    <h2 class="text-custom-accent">You haven't saved any courts yet baller!</h2>
    <p>Start exploring and save your favorite courts for quick access later.</p>
    <a href="/search" class="btn bg-custom-primary text-light fw-bold px-4 py-2">Search for Courts</a>
  </div>
  {% endif %}
{% endblock %}