{% extends 'base.html' %} 
{% block head_scripts %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/search.css')}}" />
<script type="module" src="{{url_for('static', filename='js/search.js')}}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title %}Search For Basketball Courts{% endblock %}

{% block content %}
<div class="container mb-5">
  <h1 class="text-center my-4 text-custom-primary search-page-header">Search For Basketball Courts</h1>
</div>

<div class="container mb-5 text-center" id="search-bar-container">
  <div class="card">
    <div class="card-body" id="search-area">
      <label for="search-bar-input" id="search-bar-label" class="text-custom-accent d-block d-md-block"> Search For 🏀 Courts 👇</label> 
      <input id="search-bar-input" type="text" placeholder="Search for a place...">
      <button id="search-bar-btn" class="btn btn-success">Search</button>
    </div>
  </div>
</div> 

<!--The div element for the map -->
 <div class="container" id="map-container">
  <div class="mt-5 mb-5" id="map"></div>
</div> 

<!-- Disclaimer Link -->
<div class="container text-center mb-3">
  <a href="#" id="disclaimerLink" class="small text-custom-accent">Disclaimer</a>
</div>

<!-- Disclaimer Modal Markup -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
      </div>
      <div class="modal-body">
        <p>This application primarily searches for parks in your area with basketball courts. However, the court location information may not be fully accurate for your search.</p>
        <p>The address/location you input into the search bar may not show the correct location you want to search for. If the correct location isn't showing up, try being more specific with your address input.</p>
        <p>Location data outside of the United States may be less accurate.</p>
        <p><strong>The Google Maps API has a limit on the free tier. The limit I have set for how many daily requests the application can make isn't too high. The search functionality will not work if the daily limit for requests is reached. Please DO NOT abuse the search functionality as I want all users to be able to enjoy the application. Thank you 😊.</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Hidden Court Data -->
<div id="court_data" data-courts='{{ courts|tojson }}' style="display: none;"></div>

{% endblock %}

{% block body_scripts %}
<!-- Google Maps Javascript API -->
<script defer>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "{{api_key}}",
    v: "weekly",
  });
</script>
{% endblock %}